@model CMPS278Backend.Movies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviews)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
